* {
  font-family: 'Roboto', sans-serif;
}
.appContainer {
  background-image:  linear-gradient( rgba(255, 255, 255, 0.6) 10%,rgba(0,0,0,0.6) 100%), url('./images/1781.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 56px);
}
.appContainer h1{
  padding-top: 2rem;
}
.App {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.eachInputContainer {
  margin-top: 3rem;
}
#mainInput, #mainOutput{
  width: 400px;
  height: 300px;
}
textarea { resize: none; }

.navBar, .navBar a {
  background-color: #31bae0;
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.mainHeading {
  font-family: 'Balsamiq Sans', cursive;
  color:white;
  font-size: 120px;
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstPage {
  display: flex;
  align-items: center;
}

.firstPage-pic {
  margin-right: 5rem;
}

.firstPage-btns {
  display: flex;
  margin-left: 25rem;
}

.btn-login a, .btn-register a{
  color: #cbeef8;
  text-decoration: none;
  padding: 2rem;
}
.btn-register a {
  color: #000000;
}
.btn-login {
  margin-right: 4rem;
}

.myAccountContainer {
  background-image:  linear-gradient( rgba(255, 255, 255, 0.6) 10%,rgba(0,0,0,0.6) 100%), url('./images/3428.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.myAccoutInnerContainer {
  background-image:  linear-gradient( rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 40%;
  margin-bottom: 16rem;
}